body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#mainContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: #121212;
    justify-content: center;
}

/* Heading Start */
#headingSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #9088fd;
    border-radius: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    /* border: 5px solid blue; */
}

/* Give boxes a border for visibility
div{
    border: 2px dashed white;
} */

img {
    width: 40%;
    border-radius: 50%;
}

h1 {
    font-size: 28pt;
}

#box1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    /* justify-content: center; */
}

#box3 {
    /* align-self: flex-end; */
    width: 1560px;
    padding-top: 20px;
    /* font-weight: bold; */
}

/* Heading End */

/* Main Section Start */
#mainSection {
    display: flex;
    flex-direction: column;
    background-color: #2E2D4D;
    padding: 30px;
    border-radius:  20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    /* flex-wrap: wrap; */
    /* border: 5px solid yellow; */
}

#skillsSection {
    display: flex;
    flex-direction: column;
    background-color: #548C6C;
    padding: 30px;
    border-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    /* flex-wrap: wrap; */
    /* border: 5px solid green; */
}

.education-skills {
    /* border: 1px red; */
    display: flex;
    flex-wrap: wrap;
    text-indent: 1em;
    padding-top: 15px;
}

.title {
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    text-indent: 0em;
}